In [33]:
import os
import json
import pandas as pd
from typing import Dict, Any
from urllib.request import urlretrieve
import seaborn as sns
import matplotlib.pyplot as plt
import math
import numpy as np
import pandas as pd
import geopandas as gpd
import folium
from shapely.geometry import Point
from shapely import wkt
import openrouteservice
import polars as pl
import os
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Lasso

In [34]:
df = pd.read_csv('../data/curated/forcast_dataset.csv')

In [35]:
df.sort_values(by=['year','month'], inplace=True)

In [36]:
df.value_counts(['year'], ascending=True)

year
2003         1
2010         2
2011         2
2018        60
2019       102
2020       185
2021       449
2022       661
2023       963
2024     12009
2012     32190
2014    114380
2013    128178
2017    149802
2016    155557
2015    165765
Name: count, dtype: int64

In [37]:
df.drop(['longitude','latitude'], axis=1, inplace=True)

In [38]:


df = pd.get_dummies(df, columns=['suburb'])

In [39]:
df

,rent,num_bedrooms,num_bathrooms,parking,distance_to_cbd,nearst_train_station_dist,year,month,num_primary,num_secondary_public,...,suburb_yellingbo,suburb_yelta,suburb_yendon,suburb_yeo,suburb_yeodene,suburb_yering,suburb_yielima,suburb_yinnar,suburb_yinnar south,suburb_zeerust
751114,750.0,3.0,2.0,1.0,17.709920,3.592386,2003,6,5,1,...,False,False,False,False,False,False,False,False,False,False
748790,370.0,1.0,1.0,1.0,9.331234,1.580548,2010,9,1,0,...,False,False,False,False,False,False,False,False,False,False
749384,480.0,1.0,1.0,0.0,1.305649,0.559838,2010,12,2,1,...,False,False,False,False,False,False,False,False,False,False
747683,485.0,2.0,1.0,1.0,11.948790,3.579969,2011,9,1,0,...,False,False,False,False,False,False,False,False,False,False
755315,420.0,3.0,1.0,1.0,15.966199,0.660061,2011,11,3,0,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760290,620.0,2.0,2.0,1.0,13.572487,0.641664,2024,9,2,1,...,False,False,False,False,False,False,False,False,False,False
760294,580.0,4.0,2.0,2.0,25.009868,7.170467,2024,9,9,2,...,False,False,False,False,False,False,False,False,False,False
760295,1095.0,4.0,3.0,3.0,9.793795,0.867788,2024,9,6,0,...,False,False,False,False,False,False,False,False,False,False
760296,720.0,4.0,3.0,1.0,14.085994,1.485309,2024,9,3,1,...,False,False,False,False,False,False,False,False,False,False
760298,550.0,4.0,1.0,1.0,161.581906,136.420636,2024,9,8,1,...,False,False,False,False,False,False,False,False,False,False

In [40]:
X = df.drop('rent', axis=1)
X_train = X.loc[df['year'] < 2024]
X_test = X.loc[df['year'] == 2024]
y = df['rent']
y_train = y.loc[df['year'] < 2024]
y_test = y.loc[df['year'] == 2024]