In [22]:
import os
import json
import pandas as pd
from typing import Dict, Any
from urllib.request import urlretrieve
import seaborn as sns
import matplotlib.pyplot as plt
import math
import numpy as np
import pandas as pd
import geopandas as gpd
import folium
from shapely.geometry import Point
from shapely import wkt
import openrouteservice

relative_path = "../data/landing/"
absolute_path = os.path.abspath(relative_path)

In [23]:
pwd

'/Users/manansaddi/Desktop/ads project 2/project-2-group-real-estate-industry-project-32/notebooks'

In [24]:
# load the parquet file called domain_data.parquet
df = pd.read_csv(relative_path+ "S2times.csv")

In [25]:
df

,FID,sa22016id,sa22016pid,sa22016name,sa22016code,sa22016code5digit,state,dateyear,datemonth,enddate,...,sold_both_auction_private_treaty_detailedposition70price,sold_both_auction_private_treaty_detailedposition75price,sold_both_auction_private_treaty_detailedposition80price,sold_both_auction_private_treaty_detailedposition85price,sold_both_auction_private_treaty_detailedposition90price,sold_both_auction_private_treaty_detailedposition95price,sold_both_auction_private_treaty_standarddeviationprice,sold_both_auction_private_treaty_geometricmeanprice,gross_rental_yield,gid
0,apm_sa2_2016_timeseries_table.999795,1283,SA2_16319011500,Millbank - Avoca,319011500,31500,QLD,2013,1,31/01/2013 12:00:00 AM,...,328500.0,345000.0,351000.0,383000.0,430000.0,467000.0,93903.35,294551.7,0.052000,999795
1,apm_sa2_2016_timeseries_table.999796,1283,SA2_16319011500,Millbank - Avoca,319011500,31500,QLD,2014,1,31/01/2014 12:00:00 AM,...,330500.0,336000.0,342000.0,359000.0,399000.0,499000.0,75379.23,299861.3,0.052881,999796
2,apm_sa2_2016_timeseries_table.999797,1283,SA2_16319011500,Millbank - Avoca,319011500,31500,QLD,2015,1,31/01/2015 12:00:00 AM,...,329000.0,337000.0,349000.0,365000.0,390000.0,460000.0,110069.50,299050.3,0.052703,999797
3,apm_sa2_2016_timeseries_table.999798,1283,SA2_16319011500,Millbank - Avoca,319011500,31500,QLD,2016,1,31/01/2016 12:00:00 AM,...,330000.0,335000.0,356000.0,376000.0,395000.0,420000.0,83685.41,285904.3,0.056811,999798
4,apm_sa2_2016_timeseries_table.999799,1283,SA2_16319011500,Millbank - Avoca,319011500,31500,QLD,2017,1,31/01/2017 12:00:00 AM,...,333000.0,343000.0,369000.0,380000.0,410000.0,439000.0,96371.87,286405.6,0.058886,999799
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,apm_sa2_2016_timeseries_table.503944,1998,SA2_16214021384,Rosebud - McCrae,214021384,21384,VIC,2013,2,28/02/2013 12:00:00 AM,...,399950.0,405000.0,420000.0,460000.0,470000.0,550000.0,103339.50,354320.1,0.040114,503944
999996,apm_sa2_2016_timeseries_table.503945,1998,SA2_16214021384,Rosebud - McCrae,214021384,21384,VIC,2014,2,28/02/2014 12:00:00 AM,...,445000.0,445000.0,457500.0,500000.0,620000.0,865000.0,161944.10,377546.7,0.037824,503945
999997,apm_sa2_2016_timeseries_table.503986,1688,SA2_16205051102,Rosedale,205051102,21102,VIC,2018,2,28/02/2018 12:00:00 AM,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,503986
999998,apm_sa2_2016_timeseries_table.503946,1998,SA2_16214021384,Rosebud - McCrae,214021384,21384,VIC,2015,2,28/02/2015 12:00:00 AM,...,400000.0,445000.0,470000.0,530000.0,578000.0,600000.0,143132.40,359917.8,0.042092,503946
999999,apm_sa2_2016_timeseries_table.503947,1998,SA2_16214021384,Rosebud - McCrae,214021384,21384,VIC,2016,2,29/02/2016 12:00:00 AM,...,469950.0,500000.0,520000.0,555000.0,630000.0,676305.0,136262.00,395383.8,0.039898,503947

In [26]:
# find number of unique values in each column
df_vic = df[df['state'] == 'VIC']

In [27]:
df_vic
# count nan values in each column sorted by the number of nan values
df_vic.isna().sum().sort_values(ascending=False)

sold_private_treaty_averagediscount            132738
auction_activity_auctionclearancerate          121183
gross_rental_yield                             101413
sold_private_treaty_averagedaysonmarket         99120
for_rent_home_lease_detailedposition05price     95179
                                                ...
sa22016code5digit                                   0
sa22016code                                         0
sa22016name                                         0
sa22016pid                                          0
gid                                                 0
Length: 120, dtype: int64

In [28]:
# list of columns 
list(df_vic.columns)
rent_columns = []
for col in df_vic.columns:
    if('rental' in col.lower() or 'rent' in col.lower() and 'price' in col.lower()):
        rent_columns.append(col)

In [29]:
print(rent_columns)

['for_rent_home_lease_pricecalcreccount', 'for_rent_home_lease_averageprice', 'for_rent_home_lease_maximumprice', 'for_rent_home_lease_minimumprice', 'for_rent_home_lease_totalprice', 'for_rent_home_lease_medianprice', 'for_rent_home_lease_position25price', 'for_rent_home_lease_position75price', 'for_rent_home_lease_detailedpricecalcreccount', 'for_rent_home_lease_detailedposition05price', 'for_rent_home_lease_detailedposition10price', 'for_rent_home_lease_detailedposition15price', 'for_rent_home_lease_detailedposition20price', 'for_rent_home_lease_detailedposition25price', 'for_rent_home_lease_detailedposition30price', 'for_rent_home_lease_detailedposition35price', 'for_rent_home_lease_detailedposition40price', 'for_rent_home_lease_detailedposition45price', 'for_rent_home_lease_detailedposition50price', 'for_rent_home_lease_detailedposition55price', 'for_rent_home_lease_detailedposition60price', 'for_rent_home_lease_detailedposition65price', 'for_rent_home_lease_detailedposition70price', 'for_rent_home_lease_detailedposition75price', 'for_rent_home_lease_detailedposition80price', 'for_rent_home_lease_detailedposition85price', 'for_rent_home_lease_detailedposition90price', 'for_rent_home_lease_detailedposition95price', 'for_rent_home_lease_standarddeviationprice', 'for_rent_home_lease_geometricmeanprice', 'gross_rental_yield']

In [30]:
df_important_columns = df_vic[['dateyear','for_rent_home_lease_medianprice','for_rent_home_lease_averageprice',
 'for_rent_home_lease_maximumprice',
 'for_rent_home_lease_minimumprice',
 'for_rent_home_lease_totalprice','for_rent_home_lease_geometricmeanprice','sa22016name','sa22016code']]

In [31]:
df_important_columns.isna().sum().sort_values(ascending=False)
# len(df_important_columns)

for_rent_home_lease_medianprice           95179
for_rent_home_lease_averageprice          75016
for_rent_home_lease_maximumprice          75016
for_rent_home_lease_minimumprice          75016
for_rent_home_lease_totalprice            75016
for_rent_home_lease_geometricmeanprice    75016
dateyear                                      0
sa22016name                                   0
sa22016code                                   0
dtype: int64

In [35]:
ndf_important_columns['sa22016code'].unique()

array([204021064, 201011007, 205031088, 210011227, 205031087, 201031017,
       203021044, 204011054, 205051099, 206071139, 210011226, 201021009,
       201011001, 206051128, 205051100, 206021110, 213021341, 203011034,
       215011387, 213021342, 213021343, 213011329, 212011287, 205021081,
       215011386, 213011328, 206031113, 205041094, 206061135, 208031183,
       208031184, 212051319, 202031032, 207011146, 201031013, 213041353,
       201011002, 212011288, 201011003, 201031014, 202021026, 201011004,
       211011251, 207011147, 203021037, 209031211, 207011148, 216011408,
       211031263, 208011168, 204031068, 211051274, 204021063, 202011018,
       208021174, 207031161, 212021293, 208021427, 208021426, 202021028,
       217031473, 212031306, 213041461, 212021294, 207031162, 205021082,
       211011446, 213041462, 207031163, 207031164, 213031347, 204031069,
       210051242, 208011169, 202011023, 208011170, 210051442, 206011105,
       206011106, 206011107, 201021011, 207021156, 217031471, 209041216,
       215011393, 215031400, 209011196, 209041217, 217031475, 201011005,
       212031303, 204031070, 209041437, 207031165, 207031166, 202011019,
       213041463, 210051243, 207011149, 206041117, 206071140, 202021027,
       203011035, 217011420, 208021176, 217031474, 208031185, 201031015,
       214011370, 208021177, 208031186, 208021178, 212011289, 208031187,
       212031458, 208031188, 205021085, 208011171, 211051275, 205031089,
       212041309, 212051320, 212041310, 203031048, 204011055, 209041433,
       212031304, 216021411, 206011108, 210031236, 217031472, 206071141,
       215031401, 203021038, 212031301, 210051441, 210051443, 210051444,
       212031300, 212031302, 214021378, 201021010, 211031450, 211031451,
       211031265, 205031090, 211031452, 212041311, 212041312, 213011330,
       201011006, 213011331, 214021377, 206041118, 212041313, 211011255,
       210021233, 207021157, 211021261, 207021424, 207021425, 209041430,
       213051363, 205011076, 212021295, 202011020, 206041119, 216011406,
       208031189, 208031192, 208021179, 209031209, 206051129, 212021453,
       212021454, 209041431, 211051280, 209041432, 210031237, 206031114,
       201021012, 211011447, 217011421, 211011448, 212021299, 206071142,
       206071143, 217011422, 212011290, 205011077, 206031115, 206041120,
       202011021, 211041269, 213031348, 209031212, 214011371, 214011372,
       214011373, 203021039, 203021040, 216021412, 210021232, 210051245,
       215011390, 215021399, 212051321, 207011150, 210051246, 212051322,
       210031438, 210031439, 217041478, 209011197, 203021041, 210031440,
       212021297, 212031305, 208011172, 214021379, 211051276, 203021042,
       207011152, 207011151, 202021029, 209041225, 215031402, 209011198,
       210051248, 209011199, 215011388, 213041355, 213051362, 213051361,
       215031403, 215011389, 208021180, 209031210, 210021235, 204011058,
       215021395, 209011201, 209011200, 202011022, 210011228, 213011332,
       210011229, 216011409, 205051102, 206041121, 213041359, 210051445,
       207011153, 204011056, 207011154, 212041314, 211051277, 211011254,
       213011333, 209021205, 216011407, 202021030, 214011374, 211051279,
       205021084, 209041219, 216011410, 203021043, 211051278, 202031033,
       203031049, 213021345, 205051101, 208041194, 204011057, 208041195,
       213031349, 201031016, 210051247, 206041122, 213041356, 213041357,
       215021396, 213041358, 215021469, 208031190, 215021398, 209041434,
       215021470, 209041220, 211041270, 209041221, 205041095, 216031415,
       211051281, 209011202, 206031116, 208031191, 206051131, 208031193,
       205041096, 214021380, 212031457, 211051282, 214021381, 211051283,
       212051324, 214021382, 212051323, 217041477, 212051325, 204031071,
       208021181, 212021455, 212021456, 203021045, 203021046, 213021344,
       210011230, 203021047, 212041459, 212041460, 216021413, 212041316,
       212031308, 206041123, 206021111, 211041271, 203031050, 212051326,
       215011391, 213051366, 208021182, 217031476, 215011392, 212011292,
       212011291, 205021086, 206041124, 206011109, 210031239, 205031091,
       204011060, 209031213, 213051465, 213051464, 203031052, 213051466,
       214021383, 203031051, 206051130, 206061136, 209021428, 209021429,
       209031214, 204021067, 209021207, 210021234, 209021208, 211021262,
       206071144, 211031266, 211031267, 211031268, 214021384, 211011256,
       211011257, 211011258, 210051249, 204021065, 205031092, 205051103,
       208011173, 214011375, 204011059, 213031350, 216031418, 204011061,
       216031416, 216031417, 216031419, 214011376, 209041435, 214021385,
       206051132, 209041436, 217011423, 206061137, 206041125, 206041126,
       212041317, 202011024, 212041318, 213011334, 213011335, 215011394,
       205041098, 204031075, 206051133, 206051134, 210041240, 215031404,
       210011231, 210041241, 213011336, 213011337, 204031072, 215031405,
       213011338, 207031167, 207011155, 205011078, 202021031, 211051285,
       213011339, 213041360, 213011340, 213051365, 207021159, 207021160,
       211011449, 209041223, 206021112, 206061138, 203031053, 205041097,
       211051284, 210051250, 211041272, 204021066, 211041273, 204011062,
       209011203, 209041224, 211011259, 205011079, 211011260, 217041479,
       217041480, 203011036, 209011204, 209031215, 201011008, 213051467,
       213051369, 213051368, 206041127, 213051468, 202011025, 213031351,
       204031073, 212051327, 213021346, 204031074, 205031093, 211051286,
       206071145, 205051104, 213031352, 216021414])

In [32]:
df_important_columns_no = df_important_columns.dropna()

In [34]:
df_important_columns_no.isna().sum().sort_values(ascending=False) 
len(df_important_columns_no)

120099

In [13]:
# forcast the average rental price for the next 5 years
# find the average rental price for each year
# df_vic['year'] = pd.to_datetime(df_vic['date']).dt.year
# df_vic['month'] = pd.to_datetime(df_vic['date']).dt.month
# df_vic['day'] = pd.to_datetime(df_vic['date']).dt.day
# df_vic['dayofweek'] = pd.to_datetime(df_vic['date']).dt.dayofweek
# df_vic['dayofyear'] = pd.to_datetime(df_vic['date']).dt.dayofyear
# df_vic['weekofyear'] = pd.to_datetime(df_vic['date']).dt.weekofyear
# df_vic['quarter'] = pd.to_datetime(df_vic['date']).dt.quarter
# df_vic['year_month'] = pd.to_datetime(df_vic['date']).dt.to_period('M')
# df_vic['year_week'] = pd.to_datetime(df_vic['date']).dt.to_period('W')
# df_vic['year_quarter'] = pd.to_datetime(df_vic['date']).dt.to_period('Q')

KeyError: 'date'