In [1]:
import polars as pl
import os
import json
from IPython.core.interactiveshell import InteractiveShell
from IPython.display import display_html
InteractiveShell.ast_node_interactivity = "all"
import os
import json
import pandas as pd
from typing import Dict, Any
from urllib.request import urlretrieve
import seaborn as sns
import matplotlib.pyplot as plt
import math
import numpy as np
import pandas as pd
import geopandas as gpd
import folium
from shapely.geometry import Point
from shapely import wkt
import openrouteservice
import polars as pl
import os
from IPython.core.interactiveshell import InteractiveShell
import pyproj
from pyproj import CRS
from pyproj import Transformer


domain_dir = '../data/landing/domain/'

In [2]:
def get_first_valid(data, *keys):
    '''
    Get the first valid value from a list of keys in a dictionary
    '''
    for key in keys:
        try:
            value = eval(f"data{key}")
            if value is not None:
                return value
        except (KeyError, TypeError):
            continue
    return None

In [3]:
def read_json_file(file_path):
    '''
    Read a JSON file and extract relevant information into a dictionary    
    '''
    with open(file_path, 'r') as file:
        data = json.load(file)
        agency_id = get_first_valid(data, '["props"]["rootGraphQuery"]["listingByIdV2"]["agency"]["agencyId"]')
        listing_id = get_first_valid(data, '["props"]["id"]' , '["props"]["listingId"]')
        limited_agency_mode = get_first_valid(data, '["props"]["limitedAgencyMode"]')
        promotion_level = get_first_valid(data, '["props"]["rootGraphQuery"]["listingByIdV2"]["promoLevel"]')
        photo_count = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["photoCount"]')
        property_type = get_first_valid(data, '["props"]["listingSummary"]["propertyType"]', '["props"]["propertyType"]')
        num_bedrooms = get_first_valid(data, '["props"]["beds"]', '["props"]["listingSummary"]["beds"]')
        num_bathrooms = get_first_valid(data, f'["props"]["listingsMap"]["{listing_id}"]["listingModel"]["features"]["baths"]', '["props"]["listingSummary"]["baths"]', '["props"]["rootGraphQuery"]["listingByIdV2"]["bathrooms"]')
        parking = get_first_valid(data, f'["props"]["listingsMap"]["{listing_id}"]["listingModel"]["features"]["parking"]', '["props"]["listingSummary"]["parking"]', '["props"]["rootGraphQuery"]["listingByIdV2"]["carspaces"]')
        is_rural = get_first_valid(data, f'["props"]["listingsMap"]["{listing_id}"]["listingModel"]["features"]["isRural"]') 
        price = get_first_valid(data, '["props"]["rootGraphQuery"]["listingByIdV2"]["priceDetails"]["rawValues"]["exactPriceV2"]')
        bond = get_first_valid(data, '["props"]["rootGraphQuery"]["listingByIdV2"]["priceDetails"]["rawValues"]["bond"]')
        energy_eff_rating = get_first_valid(data, '["props"]["rootGraphQuery"]["listingByIdV2"]["energyEfficiencyRating"]')        
        nbn_download = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["nbnDetails"]["downloadSpeedInMbps"]')
        nbn_upload = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["nbnDetails"]["uploadSpeedInMbps"]')
        nbn_tech = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["nbnDetails"]["techType"]')
        nbn_speed_tier = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["nbnDetails"]["speedTier"]')
        nbn_service_status = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["nbnDetails"]["serviceStatus"]')
        
        
        unit_number = get_first_valid(data, '["props"]["address"]')
        street_number = get_first_valid(data, '["props"]["streetNumber"]')
        address = get_first_valid(data, '["props"]["address"]')
        suburb = get_first_valid(data, f'["props"]["listingsMap"]["{listing_id}"]["listingModel"]["address"]["suburb"]')
        state = get_first_valid(data, f'["props"]["listingsMap"]["{listing_id}"]["listingModel"]["address"]["state"]', '["props"]["stateAbbreviation"]')
        listing_date = get_first_valid(data, '["props"]["createdOn"]', '["props"]["domainSays"]["firstListedDate"]', '["props"]["rootGraphQuery"]["listingByIdV2"]["dateCreated"]["isoDate"]', '["digitalData"]["page"]["pageInfo"]["issueDate"]')
        actual_listing_date = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["dateListed"]')
        num_days_listed = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["daysListed"]')
        inspections_count = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["inspectionsCount"]')
        last_modification_date = get_first_valid(data, '["props"]["modifiedOn"]', '["props"]["rootGraphQuery"]["listingByIdV2"]["dateUpdated"]["isoDate"]')
        # Surrounding Suburbs = ["props"]["footer"]."surroundingSuburbs"
        postcode = get_first_valid(data, '["props"]["postcode"]')
        latitude = get_first_valid(data, '["props"]["map"]["latitude"]', f'["props"]["listingsMap"]["{listing_id}"]["listingModel"]["address"]["lat"]')
        longitude = get_first_valid(data, '["props"]["map"]["longitude"]', f'["props"]["listingsMap"]["{listing_id}"]["listingModel"]["address"]["lng"]')
        # Features = Process ["props"]["structuredFeatures"] to create individual binary features.
        # School Data = Extract relevant information from ["props"]["schoolCatchment"]."schools" (e.g., distance to nearest primary school, number of schools within a certain radius).
        has_photo = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["hasPhoto"]')
        has_floorplan = get_first_valid(data, '["digitalData"]["page"]["pageInfo"]["property"]["hasFloorplan"]')
        # education_level = ["props"]["schoolCatchment"]["schools"]["educationLevel"]
        # distance_ = ["props"]["schoolCatchment"]["schools"]["distance"]
        # school_postcode = ["props"]["schoolCatchment"]."schools"."postCode"
        num_visible_schools = get_first_valid(data, '["props"]["schoolCatchment"]["numberOfVisibleSchools"]')
        
        return {
            "agency_id" : agency_id,
            "listing_id" : listing_id,
            "limited_agency_mode" : limited_agency_mode,
            "promotion_level" : promotion_level,
            "photo_count" : photo_count,
            "property_type" : property_type,
            "num_bedrooms" : num_bedrooms,
            "num_bathrooms" : num_bathrooms,
            "parking" : parking,
            "is_rural" : is_rural,
            "price" : price,
            "bond" : bond,
            "energy_eff_rating" : energy_eff_rating,
            "nbn_download" : nbn_download,
            "nbn_upload" : nbn_upload,
            "nbn_tech" : nbn_tech,
            "nbn_speed_tier" : nbn_speed_tier,
            "nbn_service_status" : nbn_service_status,           
            "unit_number" : unit_number,
            "street_number" : street_number,
            "address" : address,
            "suburb" : suburb,
            "state" : state,
            "listing_date" : listing_date,
            "actual_listing_date" : actual_listing_date,
            "num_days_listed" : num_days_listed,
            "inspections_count" : inspections_count,
            "last_modification_date" : last_modification_date,
            # Surrounding Suburbs = ["props"]["footer"]."surroundingSuburbs"
            "postcode" : postcode,
            "latitude" : latitude,
            "longitude" : longitude,
            # Features = Process ["props"]["structuredFeatures"] to create individual binary features.
            # School Data = Extract relevant information from ["props"]["schoolCatchment"]."schools" (e.g., distance to nearest primary school, number of schools within a certain radius).
            "has_photo" : has_photo,
            "has_floorplan" : has_floorplan,
            # education_level = ["props"]["schoolCatchment"]["schools"]["educationLevel"]
            # distance_ = ["props"]["schoolCatchment"]["schools"]["distance"]
            # school_postcode = ["props"]["schoolCatchment"]."schools"."postCode"
            "num_visible_schools" : num_visible_schools            
        }
    
def read_json_directory(directory_path):
    # List to hold all JSON data
    json_data_list = []

    # Iterate through all files in the directory
    for filename in os.listdir(directory_path):
        if filename.endswith('.json'):
            file_path = os.path.join(directory_path, filename)
            json_data = read_json_file(file_path)
            json_data_list.append(json_data)

    # Create a Polars DataFrame from the list of JSON data
    df = pl.DataFrame(json_data_list,infer_schema_length=17000)
    return df

In [4]:
# For example, we will take the first file in the directory
if not os.path.exists(domain_dir):
    print(f"Directory {domain_dir} does not exist")

else:
    df = read_json_directory(domain_dir)

In [5]:
df = df.to_pandas()

In [6]:
df

,agency_id,listing_id,limited_agency_mode,promotion_level,photo_count,property_type,num_bedrooms,num_bathrooms,parking,is_rural,...,actual_listing_date,num_days_listed,inspections_count,last_modification_date,postcode,latitude,longitude,has_photo,has_floorplan,num_visible_schools
0,8753,16889460,False,ELITE,10,House,3,1,2,False,...,2024-02-21T09:47:30.000,198,0,2024-02-21T09:47:28.973,3020,-37.774926,144.834817,True,False,3
1,19,17188457,False,STANDARD_PP,15,House,3,2,0,False,...,2024-09-02T14:46:14.000,3,0,2024-09-02T14:46:11.913,3058,-37.748181,144.958473,True,True,3
2,6525,17160233,False,PREMIUM_PLUS,11,House,4,2,2,False,...,2024-08-14T09:50:19.000,23,1,2024-08-14T09:50:15.757,3124,-37.842214,145.071069,True,True,3
3,37657,17062496,False,ELITE,21,House,4,2,2,False,...,2024-06-13T17:32:02.000,84,0,2024-06-13T17:31:57.95,3029,-37.835021,144.669242,True,True,3
4,26896,17179442,False,ELITE,5,House,4,2,2,False,...,2024-08-27T10:59:51.000,10,0,2024-08-27T10:59:47.397,3358,-37.567505,143.784207,True,False,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15480,17402,16644757,False,ELITE,11,Townhouse,4,3,2,False,...,2024-06-11T17:29:53.000,86,0,2024-06-11T17:29:53.153,3151,-37.856688,145.132631,True,False,3
15481,27481,16086828,False,STANDARD,18,House,4,2,2,False,...,2024-09-04T10:59:52.000,2,1,2024-09-04T10:59:51.783,3030,-37.963369,144.707632,True,False,3
15482,7876,16076685,False,ELITE,6,Apartment / Unit / Flat,3,2,2,False,...,2024-09-05T10:53:31.000,1,0,2024-09-05T10:53:30.713,3156,-37.882581,145.267643,True,False,3
15483,11919,17174571,False,ELITE,10,Townhouse,3,3,2,False,...,2024-08-22T23:21:09.000,14,0,2024-08-22T23:21:09.067,3058,-37.737269,144.982527,True,False,3
15484,20880,17171289,False,ELITE,9,Townhouse,3,2,2,False,...,2024-08-21T11:59:53.000,15,0,2024-08-30T10:41:07.127,3012,-37.792359,144.877398,True,False,3

In [7]:
columns_to_drop = ["agency_id", "listing_id", "limited_agency_mode", "promotion_level", "photo_count", "bond", "energy_eff_rating", "nbn_download", "nbn_upload", "nbn_tech", "nbn_speed_tier", "nbn_service_status", "unit_number", "street_number", "actual_listing_date", "num_days_listed", "inspections_count", "last_modification_date", "has_photo", "has_floorplan", "num_visible_schools"]
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns])

In [8]:
df = df.drop(["address","is_rural","state"], axis=1)

In [9]:

print(list(df['property_type'].unique()))

# ['townhouse', 'house', 'villa', 'studio' , 'duplex-semi-detached', 'duplex', 'serviced apartment', 'retirement living']

# how to change values of the column, hence translating the values

df['property_type'] = df['property_type'].str.replace('Semi-Detached', 'duplex-semi-detached')   
df['property_type'] = df['property_type'].str.replace('Duplex', 'duplex')

df['property_type'] = df['property_type'].str.replace('New Apartments / Off the Plan','Apartment / Unit / Flat')
df['property_type'] = df['property_type'].str.replace('House','house')
df['property_type'] = df['property_type'].str.replace('Townhouse','townhouse')
df['property_type'] = df['property_type'].str.replace('Studio','studio')
df['property_type'] = df['property_type'].str.replace('serviced apartment','serviced apartment')
df['property_type'] = df['property_type'].str.replace('Villa','villa')
df['property_type'] = df['property_type'].str.replace('Retirement','retirement living')
df['property_type'] = df['property_type'].str.replace('New house & Land','house')
# df['property_type'] = df['property_type'].str.lower()

['House', 'Studio', 'Apartment / Unit / Flat', 'Townhouse', 'Vacant land', 'Acreage / Semi-Rural', 'New House & Land', 'Terrace', 'New Apartments / Off the Plan', 'Villa', 'Carspace', 'Retirement', 'Semi-Detached', 'Rural', 'Duplex', 'Block of Units', 'New land']

In [10]:
print(list(df['property_type'].unique()))

['house', 'studio', 'Apartment / Unit / Flat', 'townhouse', 'Vacant land', 'Acreage / Semi-Rural', 'Terrace', 'villa', 'Carspace', 'retirement living', 'duplex-semi-detached', 'Rural', 'duplex', 'Block of Units', 'New land']

In [11]:
df = df.rename(columns={'price': 'rent'})

In [12]:
df

,property_type,num_bedrooms,num_bathrooms,parking,rent,suburb,listing_date,postcode,latitude,longitude
0,house,3,1,2,420.0,Sunshine North,2024-02-21T09:47:28.973,3020,-37.774926,144.834817
1,house,3,2,0,850.0,Coburg,2024-09-02T14:46:11.91,3058,-37.748181,144.958473
2,house,4,2,2,1300.0,Camberwell,2024-08-14T09:50:15.737,3124,-37.842214,145.071069
3,house,4,2,2,580.0,Tarneit,2024-06-13T17:31:57.947,3029,-37.835021,144.669242
4,house,4,2,2,440.0,Winter Valley,2024-08-27T10:59:47.393,3358,-37.567505,143.784207
...,...,...,...,...,...,...,...,...,...,...
15480,townhouse,4,3,2,1050.0,Burwood East,2023-09-07T09:23:59.593,3151,-37.856688,145.132631
15481,house,4,2,2,560.0,Werribee South,2022-09-13T14:17:22.703,3030,-37.963369,144.707632
15482,Apartment / Unit / Flat,3,2,2,700.0,Ferntree Gully,2022-09-06T17:43:22.277,3156,-37.882581,145.267643
15483,townhouse,3,3,2,835.0,Coburg,2024-08-22T23:21:09.067,3058,-37.737269,144.982527
15484,townhouse,3,2,2,680.0,West Footscray,2024-08-21T11:59:52.34,3012,-37.792359,144.877398

In [13]:
df

,property_type,num_bedrooms,num_bathrooms,parking,rent,suburb,listing_date,postcode,latitude,longitude
0,house,3,1,2,420.0,Sunshine North,2024-02-21T09:47:28.973,3020,-37.774926,144.834817
1,house,3,2,0,850.0,Coburg,2024-09-02T14:46:11.91,3058,-37.748181,144.958473
2,house,4,2,2,1300.0,Camberwell,2024-08-14T09:50:15.737,3124,-37.842214,145.071069
3,house,4,2,2,580.0,Tarneit,2024-06-13T17:31:57.947,3029,-37.835021,144.669242
4,house,4,2,2,440.0,Winter Valley,2024-08-27T10:59:47.393,3358,-37.567505,143.784207
...,...,...,...,...,...,...,...,...,...,...
15480,townhouse,4,3,2,1050.0,Burwood East,2023-09-07T09:23:59.593,3151,-37.856688,145.132631
15481,house,4,2,2,560.0,Werribee South,2022-09-13T14:17:22.703,3030,-37.963369,144.707632
15482,Apartment / Unit / Flat,3,2,2,700.0,Ferntree Gully,2022-09-06T17:43:22.277,3156,-37.882581,145.267643
15483,townhouse,3,3,2,835.0,Coburg,2024-08-22T23:21:09.067,3058,-37.737269,144.982527
15484,townhouse,3,2,2,680.0,West Footscray,2024-08-21T11:59:52.34,3012,-37.792359,144.877398

In [14]:
df['rent'] = df['rent'].fillna(0)
df = df[df['rent'] > 0.0]
df = df[df['num_bedrooms'] > 0.0]
df = df[df['num_bathrooms'] > 0.0]
df = df[df['parking'] >= 0.0]
df = df[df['property_type'] != '']
df['suburb'] = df['suburb'].str.lower()
df['property_type'] = df['property_type'].str.lower()
df = df[df['longitude'] != 0.0]
df = df[df['latitude'] != 0.0]


df['listing_date'] = pd.to_datetime(df['listing_date'], errors='coerce', format='%Y-%m-%dT%H:%M:%S', exact=False)

# Check for and drop any rows with invalid dates (where parsing failed)
df = df.dropna(subset=['listing_date'])




df['month'] = pd.to_datetime(df['listing_date']).dt.month
df['year'] = pd.to_datetime(df['listing_date']).dt.year
df = df.drop(['listing_date'], axis=1)

In [15]:
df = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude))

df = df.set_crs(epsg=4326, allow_override=True) 


df = df.to_crs(epsg=32755)

In [16]:
def distance_from_cbd(point):
    cbd_lat =  -37.810272
    cbd_long = 144.962646  
    crs = CRS.from_epsg(32755)



    transformer = Transformer.from_crs("epsg:4326", "epsg:32755", always_xy=True)

    utm_x, utm_y = transformer.transform(cbd_long, cbd_lat)
    pointcbd = Point(utm_x, utm_y)


    return pointcbd.distance(point)


df['distance_to_cbd'] = df['geometry'].apply(lambda x: distance_from_cbd(x))

In [17]:
df['distance_to_cbd'] = df['distance_to_cbd']/1000

In [18]:
station_df = gpd.read_file('../data/raw/PTV/PTV_METRO_TRAIN_STATION.shp')
station_df = station_df.to_crs(epsg=32755)

In [19]:
df_st_ = gpd.sjoin_nearest(df, station_df[['STOP_NAME', 'geometry']], how="left", distance_col='nearst_train_station_dist')
df_st_['nearst_train_station_dist'] = df_st_['nearst_train_station_dist']/1000
df_st_ = df_st_.drop(['index_right','STOP_NAME'], axis=1)

In [20]:
domain_df_dataset = df_st_[df_st_['property_type'].isin(['house', 'townhouse', 'villa', 'duplex-semi-detached', 'duplex', 'serviced apartment', 'retirement living','apartment / unit / flat', 'studio'])]

In [21]:
domain_df_dataset.describe()

,num_bedrooms,num_bathrooms,parking,rent,latitude,longitude,month,year,distance_to_cbd,nearst_train_station_dist
count,14719.000000,14719.000000,14719.000000,1.471900e+04,14719.000000,14719.000000,14719.000000,14719.000000,14719.000000,14719.000000
mean,2.684489,1.573544,1.369047,7.613760e+02,-37.787716,144.910544,7.625450,2023.460969,34.802534,18.555844
std,1.073554,0.628411,0.973816,1.451480e+04,0.415414,0.536119,1.868378,1.584794,56.505109,50.149119
min,1.000000,1.000000,0.000000,9.000000e+00,-38.825069,141.242604,1.000000,2003.000000,0.046427,0.019399
25%,2.000000,1.000000,1.000000,4.800000e+02,-37.892121,144.824836,7.000000,2024.000000,6.075227,0.634613
50%,3.000000,2.000000,1.000000,5.700000e+02,-37.821627,144.969451,8.000000,2024.000000,16.068285,1.468056
75%,3.000000,2.000000,2.000000,6.950000e+02,-37.760431,145.066210,9.000000,2024.000000,36.472152,6.408824
max,9.000000,12.000000,20.000000,1.750000e+06,-34.169100,148.529316,12.000000,2024.000000,478.098682,445.289459

In [22]:


domain_df_dataset = domain_df_dataset[domain_df_dataset['rent'] < 4000.0]
domain_df_dataset = domain_df_dataset[domain_df_dataset['distance_to_cbd'] < 13184.878039998415]
domain_df_dataset = domain_df_dataset[domain_df_dataset['num_bedrooms'] < 9.0]
domain_df_dataset = domain_df_dataset[domain_df_dataset['num_bathrooms'] < 8.0]
domain_df_dataset = domain_df_dataset[domain_df_dataset['parking'] < 12]

In [23]:
len(domain_df_dataset)

14698

In [24]:
domain_df_dataset = domain_df_dataset.drop(['geometry'], axis=1)

In [25]:
domain_df_dataset.to_csv('../data/curated/domain.csv', index=False)