# Real estate consulting

Group Number: 32 
Members:

Manan Saddi( student id: 1353292)
Jeren